
.header {
    background-image: url("../img/stephen-leonardi-Al9Cl-b7EFU-unsplash-1.jpg");
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    position: relative;
}

nav {
    background-color: rgba(0, 0, 255, 0.4);
}