* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dflex {
    display: flex;
}

.header {
    background-image: url("../img/stephen-leonardi-Al9Cl-b7EFU-unsplash-1.jpg");
    width: 100%;
    height: 865px;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}

nav {
    background-color: rgba(0, 0, 255, 0.4);
}


.header__items {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.paragraph {
    width: 100%;
}

.paragraph h3{
    margin-bottom: 50px;
    margin-left: 50px;
}

.container2 {
    margin-top: 50px;
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);
}


.btn1 {
    padding: 14px;
    width: 100%;
    background-color: #FFC839;
    border: none;
    color: white;
    font-weight: bold;
}

.btn2 {
    padding: 14px;
    background-color: #FFC839;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #d1a229;
}

input {
    border:none;
    background-color: #FFF0CB;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width:1200px) {
    .container2 {
        height: 260px;
    }
}

@media (max-width:992px) {
    .container2 {
        height: 500px;
    }

    nav {
        line-height: 70px!important;
      }
}

@media (max-width:602px) {
    .container2 {
        height: 400px;
    }

    .paragraph h3 {
        font-size: 30px;
    }

    nav {
        line-height: 57px!important;
      }
}

.first__Section {
    margin-top: 150px;
}

.card-content p {
    font-size: 13px;
}

.card-content {
    display: flex;
    align-items: center;
}


.bcg {
    background-color: #FFC839;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-right: 5px;
}


.card-content:hover {
    background-color: #FFC839;
    box-shadow: 2px 2px 20px #FFC839;
    cursor: pointer;
}


.card-content:hover .bcg {
    background-color: white;
    cursor: pointer;
}

.container__width {
    margin: 0 auto!important;
    max-width: 1200px!important;
    width: 100%!important;
}



.text {
    margin-left: 10px;
}

.mt {
    margin-top: 50px;
}

.container__width2 {
    margin: 0 auto!important;
    max-width: 1200px!important;
    width: 100%!important;
}

.width {
    width: 400px;
    position: relative;
    z-index: 10000;
}

.width img {
    width: 100%;
    height: 500px;
    z-index: 10000;
}

.square {
    width: 100%;
    height: 350px;
    background-color: #FFC839;
    position: absolute;
    z-index: -10;
    left: -50px;
    top: 90px;
}

.second__Section {
    margin-top: 100px;
}

.number {
    width: 100%;
    height: 300px;
    background-color: #FFF5DA;
}

.text1 h4 {
    margin-top: 10px;
}

input[type=number] {
    background-color: white!important;
    width: 90%!important;
    border: 2px solid black;
    margin-top: 35px!important;
}

.input {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.block {
    display: flex;
    justify-content: center;
}

.button {
    padding: 13px;
    background-color: #FFC839;
    border: none;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 30px;
    bottom: 11px;
}

@media (max-width:350px) {
    .text1 h4 {
        font-size: 20px;
    }

    .text1 h5 {
        font-size: 20px;
    }
}

.m {
    width: 180px;
}

.m img {
    width: 100%;
}

.w img {
    width: 100%;
    height: 400px
}

.mt1 {
    margin-top: 100px;
}

.mb {
    margin-bottom: 50px;
}

.head {
    display: flex;
    justify-content: end;
}


